/*---- header section ----*/

.nav-scroll {
    background-color: rgba(40, 58, 90, 0.9);
    transition: all ease-in-out 0.7s;
}

#icon:hover {
    color: #47b2e4 !important;
}

#header-section ul li a {
    color: #fff;
}

#header-section ul li a:hover {
    color: #47b2e4;
}

#get-started:hover {
    background-color: #47b2e4;
    color: #fff !important;
    border-color: #47b2e4;
}

/*---- sponsor section ----*/

#sponsor-section img:hover {
    transition: all ease-in-out 0.8s;
    filter: none !important;
    transform: scale(1.1);
}

/*---- display section ----*/

.display-accordion {
    box-shadow: none !important;
    color: #47b2e4 !important;
    background-color: #fff !important;
    padding: 20px 20px !important;
}

.accordion-body {
    padding: 0 20px 20px !important;
}

.skill-progress {
    width: 100%;
    animation-name: skills-progress;
    animation-duration: 7s;
}

@keyframes skills-progress {
    from {width: 40%;}
    to {width: 100%;}
}

/*---- cta section ----*/

#cta-section {
    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url("../img/cta-bg.jpg") no-repeat fixed center;
    height: auto;
}